.tag {
  color: #ffffff;
  background-color: #ff6060;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.96px;
  border-radius: 10px;
  padding: 3px 15px;
  text-align: center;
  margin: 20px 10px 20px 0px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .tag {
    font-size: 10px;
    border-radius: 5px;
    padding: 2px 10px;
  }
}
