.carrousel-container {
  position: relative;
}

.arrow-left {
  cursor: pointer;
  position: absolute;
  width: 46.68px;
  height: 79.2px;
  z-index: 1;
  left: 5%;
  top: 45%;
}

.arrow-right {
  cursor: pointer;
  position: absolute;
  width: 46.68px;
  height: 79.2px;
  z-index: 1;
  right: 5%;
  top: 45%;
}

.carrousel-img {
  z-index: 0;

  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}

.carrousel-number {
  z-index: 1;
  position: absolute;
  bottom: 25px;

  left: 50%;
}

.carrousel-container p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
}

@media screen and (max-width: 1050px) {
  .arrow-right {
    width: 30px;
  }

  .arrow-left {
    width: 30px;
  }
}

@media screen and (max-width: 750px) {
  .carrousel-container {
    margin-top: 22px;
  }

  .arrow-right {
    width: 11.67px;
    height: 19.8px;
    right: 5%;
    top: 45%;
  }

  .arrow-left {
    width: 11.67px;
    height: 19.8px;
    left: 5%;
    top: 45%;
  }

  .carrousel-img {
    border-radius: 10px;
    height: 255px;
  }

  .carrousel-number {
    display: none;
  }
}
