.arrow-left {
  cursor: pointer;
  position: absolute;
  width: 46.68px;
  height: 79.2px;
  left: 7%;
  top: 50%;
}

.arrow-right {
  cursor: pointer;
  position: absolute;
  width: 46.68px;
  height: 79.2px;
  top: 50%;
  right: 7%;
}

.carrousel-img {
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}
